 body {
    padding:0px;
    margin: 0px;
    font-family:Arial;
    background-color: aliceblue;
 }
 h1 {
  font-size: 50px;

 }
 h2{
  font-size: 40px;
 }

 h3 {
  font-size: 20px;
 }

 p {
  color: dimgray;
  line-height:30px;
 }

 .half-width{
   width: 40%;
   padding-left:5%;
   margin-left: 2%;
   float: left;
   line-height: 30px;
     
 }
 .half-width img {
   width: 80%;
 }
 
.highlight {
    color: chocolate;
 }
 .link-button {
      text-decoration: none;
      background-image: linear-gradient(lightSalmon);    
      font-size:bold;
      color:white;
      padding: 10px 20px;
      border-radius: 5px;
       
 }
 .section1 {
       height: 600px;
         

 }
 .Big-Driam {
   padding-top: 150px;
   height: 700px;
    
 }
 .single-experiences {
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
   height: 80%;
 }
.Experiences-area {
   
  height: 500px;
}
.footer  {
  

}
.footer p{
   display: flex;
   height: 50px;
  align-items: center;
  justify-content: center;

}
#single-border {
  border-left: 10px solid;
  border-image:linear-gradient(180deg, tomato lightSalmon);
  border-image-slice: 1;
}
#baby-web{
  border-left: 10px solid;
  border-image:linear-gradient(180deg,  rgb(151, 122, 255) tomato);
  border-image-slice: 1;
}