 body {
    padding:0px;
    margin: 0px;
    font-family:Arial;
    background-color: rgb(143, 232, 177);
 }
 h1 {
  font-size: 50px;

 }
 h2{
  font-size: 40px;
 }

 h3 {
  font-size: 20px;
 }

 p {
  color: #333333; ;
  line-height:27px;

 }

 .h1,h2,h3,p,.link-button{
  padding-top: 30px;
 }
 .half-width{
   width: 40%;
   padding-left:5%;
   margin-left: 2%;
   float: left;
   line-height: 20px;
     
 }
 .half-width img {
   width: 80%;
 }
 
.highlight {
    color: chocolate;
 }
 .link-button {
      text-decoration: none;
      background-image: linear-gradient(lightSalmon);    
      font-size:bold;
      color:white;
      padding: 10px 20px;
      border-radius: 5px;
       
 }
 .section1{
       height: 600px;
       background-color:#5884C7;

 }
 .Big-Dream {
   padding-top: 7px;
   padding-bottom:20px;
   height: 600px;
   background-color: #F8B195;
    
 }
 .single-experiences {
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
   height: 70%
 }
.Experiences-area {
  background-color:#C1E1C1;
  margin: 30px;
  height: 600px;
 
}
 
  

 
.footer p{
   display: flex;
   height: 50px;
  align-items: center;
  justify-content: center;

}
#single-border {
  border-left: 10px solid;
  border-image:linear-gradient(180deg, tomato lightSalmon);
  border-image-slice: 1;
}
#baby-web{
  border-left: 10px solid;
  border-image:linear-gradient(180deg,  rgb(151, 122, 255) tomato);
  border-image-slice: 1;
}